{% extends "FlappyClone/base.html" %}
{% load static %}
{% block head %}
	{% include "FlappyClone/flappyBackgroundHead.html" %}
	<link rel="stylesheet" href="{% static 'FlappyClone/css/account.css' %}">
	
	<script src="{% static 'FlappyClone/js/account.js' %}"></script>
{% endblock head %}
{% block content %}
	<div id="title">
		<span id="title-span">{{ user.get_username }}</span>
	</div>
	<div class="detail">
		<span class="detail-name">High Score:</span>
		<span class="detail-content">{{ user.userprofile.score }}</span>
	</div>
	{% if not user.userprofile.score == 0 %}
	<div class="detail" id="date">
		<span class="detail-content">{{ user.userprofile.date|date:'d M Y' }}</span>
	</div>
	<div class="detail" id="time">
		<span class="detail-content">{{ user.userprofile.date|date:'H:i:s' }}</span>
	</div>
	{% endif %}
	{% if user.userprofile.medal == 0 %}
	<img id="medal" src="{% static 'FlappyClone/img/medal0.png' %}"></img>
	{% elif user.userprofile.medal == 1 %}
	<img id="medal" src="{% static 'FlappyClone/img/medal1.png' %}"></img>
	{% elif user.userprofile.medal == 2 %}
	<img id="medal" src="{% static 'FlappyClone/img/medal2.png' %}"></img>
	{% elif user.userprofile.medal == 3 %}
	<img id="medal" src="{% static 'FlappyClone/img/medal3.png' %}"></img>
	{% endif %}
{% endblock content %}