{% extends "FlappyClone/base.html" %}
{% load static %}
{% block head %}
	{% include "FlappyClone/flappyBackgroundHead.html" %}
	<link rel="stylesheet" href="{% static 'FlappyClone/css/account.css' %}">
	
	<script src="{% static 'FlappyClone/js/account.js' %}"></script>
{% endblock head %}
{% block content %}
	<div id="title">
		<span id="title-span">{{ user.get_username }}</span>
	</div>
	<div id="score">
		High Score:
		<span id="score-inner">
		{% if user.leaderboard_entry.score == -1 %} {{ user.leaderboard_entry.score }}
		{% else %} N/A {% endif %}
		</span>
	</div>
{% endblock content %}