{% extends "FlappyClone/base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'FlappyClone/css/login.css' %}">
	<style>
		#content {
			background: #70C4CE url("{% static 'FlappyClone/img/backgroundLogin.png' %}") left bottom repeat-x;
		}
	</style>
{% endblock head %}
{% block content %}
<div>
	<div id="login" class="clearfix">
		<form method="post">
			<input type="hidden" name="action" value="login" />
			{% csrf_token %}
			{% for field in login_form %}
				<div>
					{{ field.label_tag }} {{ field }}
				</div>
				{{ field.errors }}
			{% endfor %}
			<div><input type="submit" value="Log in" /></div>
		</form>
	</div>
	<div id="seperator-container"><div class="seperator"><div></div></div></div>
	<div id="signup" class="clearfix">
		<form method="post">
			<input type="hidden" name="action" value="signup" />
			{% csrf_token %}
			{% for field in signup_form %}
				<div>
					{{ field.label_tag }} {{ field }}
				</div>
				{{ field.errors }}
			{% endfor %}
			<div><input type="submit" value="Sign up" /></div>
		</form>
	</div>
</div>
{% endblock content %}