{% extends "FlappyClone/base.html" %}
{% load static %}
{% block head %}
	{% include "FlappyClone/flappyBackgroundHead.html" %}
	<link rel="stylesheet" href="{% static 'FlappyClone/css/login.css' %}">
{% endblock head %}
{% block content %}
<div>
	<div id="login" class="clearfix">
		<h1>Log in</h1>
		<form method="post">
			<input type="hidden" name="action" value="login" />
			{% csrf_token %}
			{% for field in login_form %}
				<div>
					{{ field.label_tag }} {{ field }}
				</div>
				{{ field.errors }}
			{% endfor %}
			<div><input type="submit" value="Log in" /></div>
		</form>
	</div>
	<div id="seperator-container"><div class="seperator"><div></div></div></div>
	<div id="signup" class="clearfix">
		<h1>Sign up</h1>
		<form method="post">
			<input type="hidden" name="action" value="signup" />
			{% csrf_token %}
			{% for field in signup_form %}
				<div>
					{{ field.label_tag }} {{ field }}
				</div>
				{{ field.errors }}
			{% endfor %}
			<div><input type="submit" value="Sign up" /></div>
		</form>
	</div>
</div>
{% endblock content %}