
#content span, #content h1, #content h2, #content h3, #content h4 {
	font-family: FlappyFont;
	text-align: center;
	color: gold;
	text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black, -2px -2px 0px black;
}

#title {
	height: 100px;
	width: 80%;
	margin: 0px 10%;
}

#score {
	font-size: 24px;
	width: 100%;
	height: 24px;
}
